<div class="row"> 
    <div class="col-lg-10 offset-md-1">
        <br/><h5>Lista de empleados</h5>

        <div style="margin-bottom: 15px;">
            <button (click)="nuevoEmp()" class="btn btn-info">Nuevo</button>
        </div>

        <div class="card">

            <div card="card card-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">A.Paterno</th>
                            <th scope="col">A.Materno</th>
                            <th scope="col">CURP</th>
                            <th scope="col">Correo</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let empleado of empleados" class="text-center">
                            <td>{{empleado.nombre}}</td>
                            <td>{{empleado.apaterno}}</td>
                            <td>{{empleado.amaterno}}</td>
                            <td>{{empleado.curp}}</td>
                            <td>{{empleado.correo}}</td>
                            <td>
                                <button class="btn btn-warning">Editar</button>
                                <button class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>